/*
	Default stylesheet for crosstab module
	
	Main layout is provided by table cells identified by a class
		---------------------------------
		| table.{p}ct
		---------------------------------
		|	td.{p}o	|	td.{p}t
		|	empty	|	the top row headings
		---------------------------------
		|	td.{p}l	|	td.{p}b
		|	left	|	main mody
		|	col		|
		|	name	|
		
	{p} is a prefix specified when you call the crosstab function
		this enables a single stylesheet to be used for different purposes
	Within each of these is a div with the same class name
	
	Within each of the divs is a table.
	The cells of each of these tables contain a div, which, in turn, comtain the data
*/

/* Settings for the main layout table */
table.ct_ct {
	margin: auto; 
	border-collapse: collapse;
	font-size: 8pt;
}

table.ct_ct td, table.ct_ct th {
	margin: 0px;
	padding: 2px;
}

/* Settings for the main blocks within the layout */
/* top left */
td.ct_o {
	width: 100px;
	height: 100px;
}

/* top (ie column) headings */
div.ct_t {
	width: 600px;
	height: 100px;
	overflow: hidden;
}

/* left (ie row) headings */
div.ct_l {
	width: 150px;
	height: 400px;
	overflow: hidden;
}

/* main body */
div.ct_b {
	width: 600px;
	height: 400px;;
	overflow: auto;
}

/* Settings for the cells within each of the blocks */
/* top (ie column) headings */
div.ct_t th div {
	width: 50px;
	height: 100px;
	overflow: hidden;
	border-left: solid 1px #C0C0C0;
}

/* left (ie row) headings */
div.ct_l th div {
	width: 150px;
	height: 50px;
	overflow: hidden;
}

/* main body */
div.ct_b th div, div.ct_b td div {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-left: solid 1px #C0C0C0;
}

/* first (padding) cell in heading and body */
div.ct_t th:first-child div,
div.ct_b th:first-child div {
	width: 1px;
}


div.ct_b input {
	width: 45px;
	height: 40px;
}