/*
	Default stylesheet for crosstab module
	
	Main layout is provided by table cells identified by a class
		---------------------------------
		| table.{p}ct
		---------------------------------
		|	td.{p}o	|	td.{p}t
		|	empty	|	the top row headings
		---------------------------------
		|	td.{p}l	|	td.{p}b
		|	left	|	main mody
		|	col		|
		|	name	|
		
	{p} is a prefix specified when you call the crosstab function
		this enables a single stylesheet to be used for different purposes
	Within each of these is a div with the same class name
	
	Within each of the divs is a table.
	The cells of each of these tables contain a div, which, in turn, contain the data
	Each of these divs has the class {p}c{col} where {col} is the zero-based column number
*/

/* Settings for the main layout table */
table.st_st {
	margin: auto; 
	border-collapse: collapse;
	font-size: 8pt;
}

table.st_st td {
	margin: 0px;
	padding: 2px;
	vertical-align: top;
}

/* Settings for the main blocks within the layout */
/* top left */
div.st_o {
	overflow: hidden;
}

/* top (ie column) headings */
div.st_t {
	width: 600px;
	overflow: hidden;
}

/* left (ie row) headings */
div.st_l {
	height: 400px;
	overflow: hidden;
}

/* main body */
div.st_b {
	width: 600px;
	height: 400px;;
	overflow: auto;
}


/* General settings for the cells within each of the blocks */
div.st_o td div,
div.st_t td div,
div.st_l td div,
div.st_b td div {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-left: solid 1px #C0C0C0;
}

/* Specific column properties */
div.st_o td div.st_c0,
div.st_t td div.st_c0,
div.st_l td div.st_c0,
div.st_b td div.st_c0,
div.st_c0 {
	width: 150px;
}


